@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebeaeb;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  font-size: 1.6rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
a {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
}

/* ########## WITHDRAW ############  */

.ud-withdraw {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}
.ud-withdraw .withdraw {
  margin-bottom: 5rem;
}
.ud-withdraw .withdraw h2 {
  font-size: 2.4rem;
  margin: 2rem 0;
}
.ud-withdraw .withdraw h2 .colon {
  margin: 0 10px;
}
.ud-withdraw .withdraw p {
  width: 60%;
  font-size: 1.6rem;
}

/* #### SELECT MENU ####  */
.selector {
  margin-top: 4rem;
  width: 350px;
  position: relative;
}
#selectorField {
  width: 100%;
  padding: 15px 20px;
  margin-bottom: 1rem;

  box-sizing: border-box;
  background: black;
  border-radius: 10px;
  color: white;
  border-radius: 50px;
}
#selectorField p {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 0 18px;
  padding: 0 20px;
}
#selectorField .coin-img img {
  width: 45px;
}
#selectorField .arrow img {
  width: 18px;
  margin-left: 1rem;
}

#list {
  width: 100%;

  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  padding-left: 0;
}
.options {
  width: 100%;

  padding: 15px;
  gap: 15px;
  color: gray;
}
.options p {
  margin-bottom: 0;
}

.options img {
  width: 25px;
}

.options:hover {
  background-color: black;
}

.hide {
  display: none;
}

/* #### SELECT MENU ####  */

.ud-withdraw .saved-wallet {
}
.ud-withdraw .saved-wallet .saved-wallet-content {
}
.ud-withdraw .saved-wallet .saved-wallet-content .content {
  width: 70%;
}
.ud-withdraw .saved-wallet .saved-wallet-content .content h2 {
  font-size: 2.4rem;
  margin: 2rem 0;
}
.ud-withdraw .saved-wallet .saved-wallet-content .content .colon {
  margin: 0 10px;
}
.ud-withdraw .saved-wallet .saved-wallet-content .content p {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.ud-withdraw .saved-wallet .saved-wallet-content .icons {
  border: 2px solid grey;
  border-radius: 20px;
  padding: 20px 0;
  margin-left: 5rem;
}
.ud-withdraw .saved-wallet .saved-wallet-content .icons .add {
  padding: 0 1rem;
  margin: 0 1em;
}
.ud-withdraw .saved-wallet .saved-wallet-content .icons .lines {
  margin-right: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

/* ######### SCROLL ###########  */
.scroll {
  height: 250px;
  overflow-y: scroll;
}
input[type="radio"] {
  display: none;
}
label {
  position: relative;
  color: blue;
  font-size: 2rem;
  border: 2px solid grey;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 10px;
}
label::before {
  position: absolute;
  right: 20px;

  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  border-radius: 50%;
}
input[type="radio"]:checked + label::before {
  background-color: #7bffe7;
}

/* ########### WITHDRAW CARD ##########  */
.card-padding {
  padding: 0 3rem;
}
.withdraw-card {
  background-color: #eaeaea;
  padding: 3rem 5rem;
  border-radius: 30px;
}
.gradient-border {
  border-radius: 30px;
  border: double 3px transparent;
  /* border-image: linear-gradient(171deg, #000000, #3787ff, #001aff); */
  background-image: linear-gradient(white, white),
    linear-gradient(171deg, #000000, #3787ff, #001aff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.withdraw-card h2 {
  font-size: 3.4rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4.5rem;
}
.withdraw-card .network-choose {
}
.withdraw-card .network-choose h3 {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-weight: 400;
}
.withdraw-card .network-choose h3 .colon {
  margin: 0 10px;
}
.withdraw-card .network-choose a {
  display: inline-block;
  background-color: black;
  padding: 1rem 8px;
  border-radius: 50px;
}
.withdraw-card .network-choose a .icon1 img {
  width: 50px;
  height: auto;
}
.withdraw-card .network-choose a .title {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  margin: 0 15px;
  padding: 0 20px;
}
.withdraw-card .network-choose a .icon2 img {
  width: 18px;
  height: 18px;
  margin-right: 20px;
}

.withdraw-card .card-input1 {
  margin: 4rem 0;
}
.withdraw-card .card-input1 h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2rem 0;
}
.withdraw-card .card-input1 input[type="text"] {
  font-size: 1.4rem;
  padding: 2rem 1rem;
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  background: #e0e0e0;
  background-color: transparent;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  outline: none;
}
.withdraw-card .card-input2 .text-area {
  position: relative;
}
.withdraw-card .card-input2 .text-area .lines {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.withdraw-card .card-input2 {
  margin: 3rem 0;
}
.withdraw-card .card-input2 h3 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 2rem 0;
}
.withdraw-card .card-input2 input[type="text"] {
  font-size: 1.4rem;
  padding: 2rem 1rem;
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  background: #e0e0e0;
  background-color: transparent;
  box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.55),
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  outline: none;
}
/* #### WITHDRAW BUTTON #####  */

.withdraw-card .withdraw-btn {
  margin-top: 6rem;
}
.withdraw-card .withdraw-btn a {
  padding: 10px;
  border-radius: 30px;
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12);
}
.withdraw-card .withdraw-btn .title {
  font-size: 2.4rem;
  font-weight: 600;
  color: black;
  margin-left: 3rem;
}
.withdraw-card .withdraw-btn .icon img {
  width: 70px;
}

.footer {
  width: 1000px;

  margin: 0 auto;
  margin-top: 5rem;
}
.footer p {
  font-size: 1.4rem;
  color: #626262;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ebeaeb;
  border-radius: 10px;
  border: 2px solid rgb(201, 186, 186);
}
::-webkit-scrollbar-thumb {
  border: 1px solid grey;
  background-color: white;
  border-radius: 10px;
}
